.GalleryImageSectionImg {
   width: 16em;
   height: 20em;
   margin-bottom: 4em;
   border-radius: 2em;
   object-fit: cover; 
    
}

.GalleryImageContainer {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.GalleryImageContainerDisabled {
   display: none
}

.GalleryImageContainerInfo {
   position: relative;
   bottom: 4em;
   line-height: 1em;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top: 0.5em;
   align-self: center;
}

.ImageContainerLike--mod {
   margin-top: 6em;
   margin-left: 12em;
}

.ImageContainerDownload--mod {
   margin-top: 6.8em;
   margin-right: 0.9em;
   margin-left: 14em;
}

.infoData {
   margin-top: 0;
   margin-bottom: 0;
}

.GalleryImageInfoEditor {
   display: none;
}

.GalleryImageInfoEditorEnabled {
   display: block;
   position: relative;
   bottom: 1.2em;
}

.GalleryImageInfoEditorSaveIcon {
   width: 1em;
   vertical-align: sub;
   padding-left: 0.1em;
   cursor: pointer;
}

@media only screen and (min-width: 1000px) {
   .GalleryImageSection {
      display: grid;
      grid-template-columns: auto auto auto;
      gap: 1em;
   }

   .GalleryImageSectionImg {
      border-radius: 0; 
       
   }



















}