.ImageSectionImg {
    width: 16em;
    height: 20em;
    margin-bottom: 4em;
    border-radius: 2em;
    object-fit: cover;
}
.ImageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}
.ImageContainerLike {
    position: absolute;
    margin-top: 12em;
    margin-right: 3em;
    cursor: pointer;
    width: 2em;
}

.liked {
    fill: red;
}

.ImageContainerDownload {
    position: absolute;
    margin-top: 12.7em;
    margin-right: 0.4em;
    cursor: pointer;
}

.ImageContainerDownloadIcon {
    width: 2em;
}

@media only screen and (min-width: 1000px) {
    .ImageSection {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto auto auto;
        justify-content: center;
        gap: 0.5em;
        padding: 0.5em;
        width: 50%;
        position: relative;
        bottom: 9em;
    }
    
    .ImageSectionImg {
        text-align: center;
        margin-bottom: 0;
        object-fit: cover;
        border-radius: 0;
    }
    .ImageContainer {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: end;
    }

    .ImageContainerDownload {
        margin-top: 17.7em;
        margin-right: 0.4em;
        width: 1em;
        height: 44px;
    }

    .ImageContainerLike {
        margin-right: 1.8em;
        width: 1em;
    }

    .ImageContainerDownloadIcon {
        width: 1.2em;
    }
}