.header {
    padding-top: 0.5em;
    font-family: 'nats';
    text-align: center;
    padding-bottom: 4em;
}

.headerTitle {
    padding-left: 1.5em;
    font-family: 'nats';
    font-size: 40px;
    margin-top: 0;
    height: 1em;
    margin-bottom: 0;
    text-align: justify;
}

.headerText {
    width: 43%;
    padding-left: 3.2em;
    font-size: 1.2em;
    font-weight: 400;
    padding-top: 1em;
    text-align: left;
    margin-bottom: 0;
}

.headerSearchBar {
    border: 1px solid black;
    border-radius: 2em;
    width: 19em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

.headerSearchBarIcon {
    position: relative;
    right: 2em;
    top: 0.4em;
}

.headerSliderContainer {
    display: none;
}


@media only screen and (min-width: 1000px){
    .headerSearchBar {
        width: 49em;
    }
    .headerSearchBarIcon {
        position: relative;
        overflow: visible;
        left: 39em;
        bottom: 1.5em;
        top: auto;
    }
    .header {
        display: flex;
        flex-direction: column;
        width: 60%;
        margin-top: 2em;
        height: 15em;
        padding-top: 0;
        max-width: 38em;
    }
    .headerTitle{
        padding-left: 0;
        font-size: 75px;
    }
    
    .headerText {
     width: 67%;
     padding-top: 0.5em;
     padding-left: 0;
     padding-bottom: 0.4em;
    }
    
    .headerSliderContainer{
        display: block;
        position: relative;
        bottom: 14.5em;
        left: 15em;
    }
    .headerSliderImage{
        width: 14em;
        height: 10em;
        border-radius: 2em;
    }
}