.header {
    padding-top: 0.5em;
    font-family: 'nats';
    text-align: center;
    padding-bottom: 4em;
}

.header--mod {
    align-self: flex-start;
}

.headerTitle {
    padding-left: 1em;
    font-family: 'nats';
    font-size: 4em;
    font-weight: 400;
    line-height: 0.8em;
    word-break: break-word;
    margin-bottom: 0;
    text-align: justify;
    width: 40%;
    max-width: 3em;
}
.headerTitle--mod {
    width: 84%;
}

.headerText {
    width: 43%;
    padding-left: 3.2em;
    font-size: 1.2em;
    font-weight: 400;
    padding-top: 0;
    padding-bottom: 1.5em;
    line-height: 1.5em;
    text-align: left;
    margin-bottom: 0;
}

.headerSearchBar {
    border: 1px solid black;
    border-radius: 2em;
    width: 19em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

.headerSearchBarIcon {
    position: relative;
    right: 2em;
    top: 0.4em;
    cursor: pointer;
}

.headerSearchBarIcon--mod {
    right: 1.7em;
}

.headerSliderContainer {
    display: none;
}


@media only screen and (min-width: 1000px){
    .headerSearchBar {
        width: 49em;
    }
    .headerSearchBarIcon {
        position: relative;
        overflow: visible;
        left: 39em;
        bottom: 1.5em;
        top: auto;
    }
    .header {
        display: flex;
        flex-direction: column;
        width: 60%;
        margin-top: 2em;
        padding-top: 0;
        padding-bottom: 0;
        max-width: 38em;
    }

    .header--mod {
        padding-left: 6em;
    }
    .headerTitle{
        padding-left: 0;
        width: 100%;
        max-width: none;
    }
    
    .headerText {
     width: 67%;
     padding-top: 0.5em;
     padding-left: 0;
     padding-bottom: 0.4em;
    }
    
    .headerSliderContainer{
        display: block;
        position: relative;
        bottom: 14.5em;
        left: 15em;
    }
    .headerSliderImage{
        width: 14em;
        height: 10em;
        border-radius: 2em;
        object-fit: cover;
    }
}